:root {
  --clr-black: #000000;
  --clr-white: #ffffff;
  --clr-primary: #ed6a42;
  --clr-secondary: #0004ff;
  --background:  rgb(255, 255, 255);
  --ff-title: "Inter", sans-serif;
  --ff-body: "inconsolata";
  --ff-opacity: rgba(0, 0, 0, 0.5);
}



.contactanos,
.contactanos * {
  box-sizing: border-box;
}
.contactanos {
  height: 1922px;
  position: relative;
  overflow: hidden;
}
.contactanos {
  color: var(--clr-black);
  text-align: left;
  margin: 1em 7em;
}
.datos-persona > h4{
  color: var(--clr-secondary);
  text-align: left;
  font-family: var(--ff-title);
  font-size: 5rem;
  margin-top: 20px;
  font-weight: 800;
}

.datos-persona,
.texto {
  color: var(--clr-black);
  text-align: left;
  font-family:var(--ff-body);
  font-weight: 400;
  font-size: 16px;
  position: absolute;
}



