@import url("https://fonts.googleapis.com/css?family=Assistant:400,700|Playfair+Display:900");


*{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal; 
    
}
/* GRUPO DE LOS COLORES, SI PONES VAR(), ELIGES LA OPCIÓN DE ESTOS COLORES QUE YA ESTAN NOMBRADOS,IMPORTANTEEEEEE */
:root {
  --clr-black: #000000;
  --clr-white: #ffffff;
  --clr-primary: #ed6a42;
  --clr-secondary: #0004ff;
  --background:  aliceblue;
  --ff-title: "Inter", sans-serif;
  /* --ff-body: "Assistant", sans-serif; */
  --ff-opacity: rgba(0, 0, 0, 0.5);
}
body {
  margin: 0; 
  height: 100vh;
  /* PARA EL SCROLL */
  overflow: auto;
  background-color: var(--background);
  padding-bottom: 4rem;
  font-size: 18px;
  line-height: 1.6;
}


/* MENU */
.menu{
  position: relative;
}


/* LA OPACIDAD DEL FONDO PARA CUANDO SE ABRE EL MENU */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color:var(--ff-opacity);
  opacity: 0; /* Inicialmente invisible */
  transition: opacity 0.3s ease; /* Transición suave */
  z-index: 10; /* Detrás del botón y la barra */
  visibility: hidden; /* Invisible por defecto */
}


/* MENU OCULTO IZQUIERDA */
.bar {
  position: fixed;
  background-color: var(--clr-primary);
  width: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: hidden;
  transition: width 0.3s ease;
  z-index: 20;
  padding: 10px 0;
  align-items: flex-start;
}


/* BOTÓN DEL MENU */
.menu-button {
  position: fixed; /* Fijado */
  top: 0;
  left: 0;
  width: 60px; /*Tamaño botón */
  height: 90px; /* Tamaño botón */
  cursor: pointer;
  z-index: 30; /* Encima de todo*/
  transition: transform 0.3s ease;
}


/* VIBRACIÓN ETIQEUTA */
.vibrate {
  animation: vibrate 0.3s ease-in-out;
}
@keyframes vibrate {
  0% { transform: translateY(0); }
  25% { transform: translateY(-3px); } 
  50% { transform: translateY(3px); }  
  75% { transform: translateY(-3px); }
  100% { transform: translateY(0); }
}


/* CATEGORIAS MENU */
.bar a {
  color: var(--clr-white);
  padding: 10px;
  font-size: 14px;
  text-align: center;
  margin: 5px 0;
  text-decoration: none;
  position: relative;
  overflow: hidden;
}
.bar a::after {
  content: ""; 
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: var(--clr-white);
  transform: scaleX(0);
  transition: transform 0.3s ease;
}
.bar a:hover::after {
  transform: scaleX(1);
}


.centered {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


/* FLECHA Y TITULO INICIO */
.arrow-container {
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  cursor: pointer;
  z-index: 50; /*encima de las imágenes del carousel */
}
.arrow {
  width: 40px;
  height: 40px;
  color: var(--clr-white);
  transition: transform 0.3s ease;
}
.arrow:hover {
  transform: translateY(5px);
}
.new-collection-text {
  font-size: 14px;
  color: var(--clr-white);
  margin-bottom: 5px;
  text-transform: uppercase;
  letter-spacing: 2px;
}


/* CAROUSEL INICIO  */
#carouselinicio {
  position: relative;
}
#carouselinicio .carousel-inner {
  height: 100%;
}
#carouselinicio .carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.myCarouselMenu {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color:var(--ff-opacity);
  color: var(--clr-white);
  padding: 5px 10px;
  border-radius: 5px;
}


/* WRAPPER */
.wrapper {
  background-color: var(--clr-secondary);
  position: relative;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
}
.wrapper ul {
  display: inline-flex;
  list-style: none;
  padding-left: 0;
  margin: 0;
} 
.wrapper li {
  margin: 0 50px;
  font-size: 2em;
  display: inline-block;
  color: var(--clr-white);
} 
.marquee {
  display: inline-flex;
  animation: marquee 20s linear infinite;
}
@keyframes marquee {
  from {
    transform: translateX(0); /* Empieza desde el principio */
  }
  to {
    transform: translateX(-50%); /* Se desplaza hacia la izquierda */
  }
}


/* CAROUSEL Y GALERIA NEW COLLECTION */
#galleryCarousel1 .carousel-item img,
#galleryCarousel2 .carousel-item img,
#galleryCarousel3 .carousel-item img {
  width: 100%;
  height: auto;
  object-fit: contain;
}
.collection-text {
  position: absolute;
  top: 10px;
  left: 10px;
  color: var(--clr-white);
  padding: 5px;
  border-radius: 5px;
}
#galleryCarousel1 .carousel-item,
#galleryCarousel2 .carousel-item,
#galleryCarousel3 .carousel-item {
  position: relative;
  overflow: hidden; 
}



/* SECCIÓN NEW DROP */
.new-drop {
  margin-top: 20px;
  color: var(--clr-secondary);
  margin-bottom: 5px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 800;
  padding: 1.5rem!important;
}


/* CUENTA ATRÁS */
.countdown{
  text-align: center;
  margin-top: 2px !important;
  background-color: var(--clr-primary);
}


/* CAROUSEL NEWDROP */
.carousel-flickity figure{
  padding: 10%;
}
.carousel-flickiti {
  width: 50%; 
  max-width: 200px;
  margin: 0 auto;
}
.carousel-cell {
  width: 30%; 
  margin: 0 8px; 
  aspect-ratio: 1 / 1;
  overflow: hidden;
  border-radius: 5px;
}
.carousel-cell img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}







/* MEDIA-QUERIS */
@media (max-width: 1024px) {
  /* .carousel-cell {
    width: 30%;
  } */
}



@media (max-width: 768px) {
  .carousel-cell {
    width: 80%;
}
  .new-drop {
    font-size: 1.25rem; 
  }
  .wrapper li {
    font-size: 1em;
    margin: 0 20px;
  } 

}



@media (max-width: 576px) {
  .new-drop {
      font-size: 1rem;
  }
}


