@import url("https://fonts.googleapis.com/css?family=Assistant:400,700|Playfair+Display:900");



/* GRUPO DE LOS COLORES, SI PONES VAR(), ELIGES LA OPCIÓN DE ESTOS COLORES QUE YA ESTAN NOMBRADOS,IMPORTANTEEEEEE */
:root {
  --clr-black: #000000;
  --clr-white: #ffffff;
  --clr-primary: #ed6a42;
  --clr-secondary: #0004ff;
  --background:  aliceblue;
  --ff-title: "Inter", sans-serif;
  --ff-body: "Inter", serif;
  --ff-opacity: rgba(0, 0, 0, 0.5);
}
body {
  margin: 0; 
  height: 100vh;
  /* PARA EL SCROLL */
  overflow: auto;
  background-color: var(--background);
  padding-bottom: 4rem;
  font-size: 18px;
  line-height: 1.6;
}


/* MENU */
.menu{
  position: relative;
}


/* LA OPACIDAD DEL FONDO PARA CUANDO SE ABRE EL MENU */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color:var(--ff-opacity);
  opacity: 0; /* Inicialmente invisible */
  transition: opacity 0.3s ease; /* Transición suave */
  z-index: 10; /* Detrás del botón y la barra */
  visibility: hidden; /* Invisible por defecto */
}


/* MENU OCULTO IZQUIERDA */
.bar {
  position: fixed;
  background-color: var(--clr-primary);
  width: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: hidden;
  transition: width 0.3s ease;
  z-index: 20;
  padding: 10px 0;
  align-items: flex-start;
}


/* BOTÓN DEL MENU */
.menu-button {
  position: fixed; /* Fijado */
  top: 0;
  left: 0;
  width: 60px; /*Tamaño botón */
  height: 90px; /* Tamaño botón */
  cursor: pointer;
  z-index: 30; /* Encima de todo*/
  transition: transform 0.3s ease;
}


/* VIBRACIÓN ETIQEUTA */
.vibrate {
  animation: vibrate 0.3s ease-in-out;
}
@keyframes vibrate {
  0% { transform: translateY(0); }
  25% { transform: translateY(-3px); } 
  50% { transform: translateY(3px); }  
  75% { transform: translateY(-3px); }
  100% { transform: translateY(0); }
}


/* CATEGORIAS MENU */
.bar a {
  color: var(--clr-white);
  padding: 10px;
  font-family: var(--ff-body);
  font-size: 14px;
  text-align: center;
  margin: 5px 0;
  text-decoration: none;
  position: relative;
  overflow: hidden;
}
.bar a::after {
  content: ""; 
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: var(--clr-white);
  transform: scaleX(0);
  transition: transform 0.3s ease;
}
.bar a:hover::after {
  transform: scaleX(1);
}


.centered {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


/* FLECHA Y TITULO INICIO */
.arrow-container {
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  cursor: pointer;
  z-index: 1; /*encima de las imágenes del carousel */
}
.arrow {
  width: 40px;
  height: 40px;
  color: var(--clr-white);
  transition: transform 0.3s ease;
}
.arrow:hover {
  transform: translateY(5px);
}
.new-collection-text {
  font-family: var(--ff-title);
  font-size: 14px;
  color: var(--clr-white);
  margin-bottom: 5px;
  letter-spacing: 2px;
  font-weight: bold;
}


/* CAROUSEL INICIO  */
#carouselinicio {
  position: relative;
}
#carouselinicio .carousel-inner {
  height: 100%;
}
#carouselinicio .carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.myCarouselMenu {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color:var(--ff-opacity);
  color: var(--clr-white);
  padding: 5px 10px;
  border-radius: 5px;
}


/* WRAPPER */
.wrapper {
  background-color: var(--clr-secondary);
  position: relative;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
}
.wrapper ul {
  display: inline-flex;
  font-family: var(--ff-title);
  font-weight: bold;
  list-style: none;
  padding-left: 0;
  margin: 0;
} 
.wrapper li {
  margin: 0 50px;
  font-size: 2em;
  display: inline-block;
  color: var(--clr-white);
} 
.marquee {
  display: inline-flex;
  animation: marquee 20s linear infinite;
}
@keyframes marquee {
  from {
    transform: translateX(0); /* Empieza desde el principio */
  }
  to {
    transform: translateX(-50%); /* Se desplaza hacia la izquierda */
  }
}


/* CAROUSEL Y GALERIA NEW COLLECTION */
.carousel-container {
  position: relative;
  overflow: hidden;
  
}

.carousel-wrapper {
  border: 2px solid black; /* Borde negro */
  margin: 10px 0; /* Espaciado entre los carouseles */
  background-color: transparent; /* Sin fondo */
  position: relative; /* Para manejar el posicionamiento de elementos internos */
}
.product-info {
  color: var(--clr-black);
  font-size: 0.9em;
  padding-left: 9em;
}

/* Contenedor de los colores - posiciona abajo a la izquierda */
.product-info .colors {
  gap: 5px;
  border: 1px solid black;
  margin: 0px;
  padding: 3px;
  display: flex;
  justify-content: flex-end;
}

/* Estilo de cada muestra de color */
.product-info .color-sample {
  width: 40px;
  height: 15px;
}


/* Estilo para el nombre de la prenda */
.product-info h4 {
  margin: 0px;
  font-size: 0.9em;
  font-family: var(--ff-body);
  border: 1px solid black;
  padding: 2px;
  display: flex;
  justify-content: flex-end;
}

/* Estilo para el precio */
.product-info .price {
  font-size: 0.9em;
  margin: 0px;
  font-family: var(--ff-body);
  border: 1px solid black;
  padding: 2px;
  display: flex;
  justify-content: flex-end;
}

.details{
  margin: 2px;
  border: 1.5px solid black;
}

/* CAROUSEL Y GALERIA NEW COLLECTION */
#galleryCarousel1 .carousel-item img,
#galleryCarousel2 .carousel-item img,
#galleryCarousel3 .carousel-item img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.collection-text {
  position: absolute;
  top: 10px;
  left: 10px;
  color: var(--clr-white);
  padding: 5px;
}

#galleryCarousel1 .carousel-item,
#galleryCarousel2 .carousel-item,
#galleryCarousel3 .carousel-item {
  position: relative;
  overflow: hidden; 
}

.background-text {
  position: absolute;
  top: 50px; /* Cerca del margen superior */
  left: 50%;
  transform: translateX(-50%);
  font-family: var(--ff-title);
  font-size: 3vw; /* Ajuste automático de tamaño */
  color: var(--clr-primary); /* Fondo opaco para que no distraiga */
  font-weight: bold;
  text-align: center;
  line-height: 1; /* Espaciado más ajustado entre líneas */
  pointer-events: none;
}



/* SECCIÓN NEW DROP */
.background{
  background-color: var(--clr-primary);
  padding: 1em;
}
.new-drop {
  color: var(--clr-white);
  font-family: var(--ff-title);
  letter-spacing: 2px;
  font-weight: 800;
  margin: 1em 7em;
}

.new-drop h2{
  color: var(--clr-secondary);
  margin: 0%;
}

/* CUENTA ATRÁS */
.countdown{
  text-align: center;
  font-family: var(--ff-body);
  padding-top: 2px;
  background-color: var(--clr-primary);
  font-weight: 800;
}


/* CAROUSEL NEWDROP retocar lo del carrousel porque no me gusta como esta y meter mas fotos */
.carousel-flickity {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

/* Ajuste de las celdas del carrusel */
.carousel-cell {
  padding: 0 5px;
  box-sizing: border-box;
}

/* Ajuste del tamaño fijo para todas las imágenes */
.carousel-cell img {
  width: 100%;       /* Ajusta el ancho de la imagen al 100% del contenedor */
  height: 299px;     /* Altura fija para asegurar que todas las imágenes sean iguales */
  object-fit: cover; /* Recorta la imagen para ajustarse al contenedor sin deformarse */
}

/* Estilos del <figure> */
.carousel-cell figure {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 100%;
}

/* Consultas de medios para ajustar el número de imágenes visibles según el ancho de la pantalla */

@media (min-width: 1200px) {
  /* 4 imágenes visibles en pantallas grandes */
  .carousel-cell {
    width: calc(25% - 10px);
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  /* 3 imágenes visibles en pantallas medianas */
  .carousel-cell {
    width: calc(33.333% - 10px);
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  /* 2 imágenes visibles en pantallas pequeñas */
  .carousel-cell {
    width: calc(50% - 10px);
  }
}

@media (max-width: 575px) {
  /* 1 imagen visible en pantallas extra pequeñas */
  .carousel-cell {
    width: 100%;
  }
}







/* MEDIA-QUERIS */
@media (max-width: 1400px) {
  .new-drop{
    margin: 1em 6em;
  }
 
}
@media (max-width: 1466px) {
  .new-drop{
    margin: 1em 4em;
  }
 
}
@media (max-width: 1200px) {
  .new-drop{
    margin: 1em 2em;
  }
 
}
@media (max-width: 992px) {
  .new-drop{
    margin: 1em 1.7em;
  }
 
}

@media (max-width: 768px) {
  /* .carousel-cell {
    width: 50%;
} */
  .new-drop {
    font-size: 1.25rem; 
  }
  .wrapper li {
    font-size: 1em;
    margin: 0 20px;
  } 
  .menu-button {
    width: 50px; /*Tamaño botón */
    height: 80px; /* Tamaño botón */
  }
  .arrow {
    width: 20px;
    height: 20px;
  }
  .new-collection-text {
    font-size: 10px;
    margin-bottom: 1px;
  }
  .background-text {
    font-size: 6vw; /* Aumenta el tamaño del texto en pantallas pequeñas */
}
}



@media (max-width: 576px) {
  .new-drop {
      font-size: 1rem;
  }
  .menu-button {
    width: 40px; /*Tamaño botón */
    height: 60px; /* Tamaño botón */
  }
  .new-collection-text {
    margin-bottom: 0px;
  }
  .arrow-container {
    top: 20px;
  }
  /* .carousel-cell {
    width: 80%; 
  } */
}


